<div class="profile contact modal fade-large" id="contact-profile">
  <div class="profile-info">
   <button class="close" data-dismiss="modal">×</button>
    <p> <b>Email id:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> thebitmonk@gmail.com</p>
    <p> <b>Quora&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</b> <a href="http://www.quora.com/Varun-Jain-1"> Here </a> </p>
    <p> <b>LinkedIn: &nbsp;&nbsp;&nbsp;&nbsp;</b> <a href="http://www.linkedin.com/profile/view?id=53503154" > Here </a> </p>
  </div>
</div>

